/* =============
    Navigation
============= */
html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

.show-menu{
    display: block !important;
}

nav{
    display: none;

    @include lg{
        display: block;
    }
    ul{

        @include lg{
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        li{
            text-align: right;

            @include lg{
                margin-left: 16px;
            }

            a:link, a:visited{
                font-family: 'Roboto', sans-serif;
                display: inline-block;
                color: black;
                padding: 16px 0 16px;
                font-weight: 500;

                @include lg{
                    padding: 24px 36px;
                    border: 1px solid var(--white);
                    color: var(--white);
                    border-radius: 6px;
                    transition: 0.25s;
                }

                &:hover, &:active{
                    @include lg{
                        background-color: var(--white);
                        color: var(--gray);
                    }
                }
            }
        }
    }
}