/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 1024px;

// Large desktops
$screen-xl-min: 1200px;

// Extra Large desktops
$screen-xxl-min: 1440px;


// Colors vars
:root {
  --black: #000000;
  --white: #ffffff;
  --pink: #F72585;
  --purple: #7209B7;
  --darkBlue: #3A0CA3;
  --blue: #4361EE;
  --aqua: #4CC9F0;
  --green: #2DD8BB;
  --yellow:  #FFD200;


}

